 header {
    background-image: url("../images/logo.jpg");
    background-position: center;
    background-color: red;
    border-radius: 30px;
    background-blend-mode: screen;
    height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    border: 2px solid grey;
    box-shadow: 10px 15px 5px black;
}

body {
    background-color: royalblue;
}


h1 {
    font-family: 'Unlock', cursive;
    font-size: 55px;
    text-align: center;
    padding: 2px 0px;
}

.grid {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 10px 50px 50px 50px;
    border-radius: 40px;
    border: 2px solid grey;
    box-shadow: 10px 15px 5px black;
}

 .grid #quest {
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
 }

 #beginGame {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    background-color: red;
    width: 250px;
    height: 75px;
    padding: 30px 60px;
    white-space: normal;
    transform: scale(1.0);
    transition-duration: .2s;
    color: white;
    border: 1px solid grey;
    border-radius: 12px;
    margin: 10px 40px 10px 0px;
 }

 #beginGame:hover {
     background-color: darkred;
 }

 #beginGame:focus {
    outline: 0;
 }

 h2 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 40px;
    text-align: center;
 }

 p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    text-align: center;
 }

 .buttns {
    margin: 0 auto;
}

#btn0, #btn1, #btn2, #btn3 {
    font-family: 'Didact Gothic', sans-serif;
    background-color: royalblue;
    width: 250px;
    height: 75px;
    padding: 30px 60px;
    white-space: normal;
    transform: scale(1.0);
    transition-duration: .2s;
    color: white;
    border: 1px solid grey;
    border-radius: 12px;
    margin: 10px 40px 10px 0px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    background-color: #0000CC; 
} 

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: darkred;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
}